body{
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.24, rgb(112, 203, 255)),
	color-stop(0.78, rgb(48, 72, 255))
);
background-image: -o-linear-gradient(bottom, rgb(112, 203, 255) 24%, rgb(48, 72, 255) 78%);
background-image: -moz-linear-gradient(bottom, rgb(112, 203, 255) 24%, rgb(48, 72, 255) 78%);
background-image: -webkit-linear-gradient(bottom, rgb(112, 203, 255) 24%, rgb(48, 72, 255) 78%);
background-image: -ms-linear-gradient(bottom, rgb(112, 203, 255) 24%, rgb(48, 72, 255) 78%);
background-image: linear-gradient(to bottom, rgb(112, 203, 255) 24%, rgb(48, 72, 255) 78%);
}
h1{
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 32px;
}
h3{
	-webkit-box-shadow: 5px 5px 40px 1px #030101;
	box-shadow: 5px 5px 40px 1px #030101;
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 20px;
	background-color: #8B8B8B;
}
img{
	width: 200px;
	height: 230px;
    -webkit-box-shadow: 5px 5px 40px 1px #030101;
	box-shadow: 5px 5px 40px 1px #030101;
}
p{
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 16px;	
}
.modelo_caja{
	background-color: #ffffff;
	width: 400px;
	height: 250px;	

	margin: 20px;
	padding: 20px;
	float: left;
}	
.clear{
	clear: both;
}
